* {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url();
    object-fit: cover;
}
/*HEADER LOGO PRINCIPAL*/
.logoPpal {
    height: 25%;
    display: flex;
    padding: 3px;
    text-align: center;
    background-color: black;
    border-bottom: 5px solid #C00B0C;
    width: 100%;
    flex-wrap: wrap;
}

.logoPpal img {
    display: block;
    margin: auto;
}
.fotoFranco {
    object-fit: fill;
    width: 100%;
    padding-bottom: 0;
}
/*INDICE DE NAVEGACION*/
footer {
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid #C00B0C;
}
nav {
    color: whitesmoke;
    margin:5px;
}
nav li {
    font-size: larger;
}
footer a {
    color: whitesmoke;
}
footer a:hover {
    color: #C00B0C;
}
/*newletter y contacto del footer*/
.contenedorFooter {
    align-self: center;
}
.contacto h4{
    color: whitesmoke;
}
.contacto a {
    display: block;
}

/*diseño primer pagina (tablas guatamba)*/

.volverInicio {
    font-weight: 400;
    color: #C00B0C;
    background-color: black;
    display: flex;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
}

/*header*/
.barraHeader {
display: flex;
width: 100%;
text-align: center;
justify-content: space-around;
background-color: black;
border-bottom:5px solid #C00B0C;

}
.barraHeader h1,.barraHeader span,.barraHeader b {
    font-family: 'Oswald', sans-serif;
}
.barraHeader h1 , .barraHeader b{
    font-size: 70px;
    letter-spacing: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: whitesmoke;
}
.letraVacia {
    -webkit-text-stroke: 3px whitesmoke;
    color: transparent;
}
.letraFina {
    font-weight: 300;
}

/*descripcion inical de los prudctos*/

.descripProd {
    box-sizing: content-box;
    text-align: center;
    background-color: rgb(235, 235, 235);
}
.descripProd p {
    display: inline-block;
    font-weight: 400;
    font-size: 25px;
}
/*contenedor de las tarjetas*/
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*tarjetas de productos*/
.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px;
}
.tarjeta h3{
    color: gray;
    font-weight: 300;
    font-size: 30px;
}
.tarjeta img {
    height: 278px;
}
.logoTarj {
width: 113px;
height:72px !important;
}
.logoTarjOh {
    width: 158px;
    height:67px !important;
    }
.primeralinea{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.segundalinea {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
}
/* especificaciones tecnicas*/
.especificaciones {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 5px solid #C00B0C;
    
}
.medidas {
    text-align: center;
    font-size: 2.5em;
    border-top: 2px solid black;
    font-weight: 300;
    
}

@media (max-width: 600px) {
    .logoPpal{
        width: 100%;
        
   }
    .logoPpal img{
        width: 100%;
    }
  }
